src/main/webapp/WEB-INF/wsdl/neustar/esr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:soap" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:soap" xmlns:intf="urn:soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="urn:soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="processSync">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="processSyncResponse">
    <complexType>
     <sequence>
      <element name="out0" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="processSyncRequest">

      <wsdl:part element="impl:processSync" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="processSyncResponse">

      <wsdl:part element="impl:processSyncResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="NSRAPIPortType">

      <wsdl:operation name="processSync">

         <wsdl:input message="impl:processSyncRequest" name="processSyncRequest"/>

         <wsdl:output message="impl:processSyncResponse" name="processSyncResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="NSRAPIServiceSoapBinding" type="impl:NSRAPIPortType">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="processSync">

         <wsdlsoap:operation soapAction="processSync"/>

         <wsdl:input name="processSyncRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="processSyncResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="NSRAPIPortTypeService">

      <wsdl:port binding="impl:NSRAPIServiceSoapBinding" name="NSRAPIService">

         <wsdlsoap:address location="http://genwireline-cte.neustar.biz/axis/services/NSRAPIService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
